# Dependencies
node_modules
.pnpm-store

# Build output
build
.next

# Development
*.log
*.local
.env*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
README.md
*.md
coverage
.turbo
